/* For mobile phones: */
[class*="col-"] {
    width: 100%;
  }
  
  @media only screen and (min-width: 600px) {
    /* For tablets: */
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}
  }
  
  @media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
  }
  * {
      font-family: Arial, sans-serif;
      font-style: italic;
      font-weight: 290;
  }
  body{background-color: floralwhite;}
  h1{color: saddlebrown;
  font-size: 50px;
  }
  .FOTO {position: relative;left: 100px;}
  * {
      box-sizing: border-box;
    }
    
    body {
      margin: 0;
      font-family: Arial, Helvetica, sans-serif;
    }
    
    /* Style the side navigation */
    .sidenav {
      height: 100%;
      width: 200px;
      position: fixed;
      z-index: 1;
      top: 0;
      left: 0;
      background-color: saddlebrown;
      overflow-x: hidden;
    }
    
    
    /* Side navigation links */
    .sidenav a {
      color:floralwhite;
      background-color: saddlebrown;
      padding: 16px;
      text-decoration: none;
      display: block;
    }
    
    /* Change color on hover */
    .sidenav a:hover {
      background-color:floralwhite;
      color: saddlebrown;
    }
    
    /* Style the content */
    .content {
      margin-left: 200px;
      padding-left: 20px;
    }